.Player {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  width: 100%;
}

.PlayerHandWrapper {
  flex-grow: 1;
}

.PlayerName {
  position: absolute;
  display: inline;
  color: #ffffff;
  background: rgba(0,0,0,0.75);
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
}
