@import '../shared/Stats';

.Minion {
  position: relative;
  width: 12vh;
  height: 100%;
  background: #ffffff;
  border: 5px solid #616065;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin: 0px 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

$stats-distance: 2px;
$stats-padding: 8px 12px;

.MinionAttack {
  @extend %stats;
  padding: $stats-padding;
  background: orange;
  bottom: -$stats-distance;
  left: -$stats-distance;
}

.MinionDefense {
  @extend %stats;
  padding: $stats-padding;
  background: #bc3328;
  bottom: -$stats-distance;
  right: -$stats-distance;
}
